<!-- Modal -->
<div class="modal fade" id="modalSaveNota" tabindex="-1" aria-labelledby="modalSaveNotaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSaveNotaLabel">Editar Nota <b>#{{notaSave.idNota}}</b></h5>
        <button (click)="updateStatus(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-anotacoes-add [status]="statusSave$" [notaInsert]="notaSave"></app-anotacoes-add>
      </div>
      <div class="modal-footer">
        <button (click)="updateStatus(false)" type="button"
        class="btn btn-secondary" data-dismiss="modal" id="btnModalSaveNotaCancel">Cancel</button>
      </div>
    </div>
  </div>
</div>

